/* Additional styles for leaderboard page */
.leaderboard-section {
  margin-top: 30px;
}

.leaderboardTable {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.leaderboardTable tbody tr:nth-child(even) {
  background-color: #afdde5;
}

.leaderboardTable tbody tr:nth-child(odd) {
  background-color: #6fc1d0; /* White background for odd rows */
}

.websocket-section {
  margin-top: 30px;
}

.score-feed {
  list-style-type: none;
  padding: 0;
  max-width: 700px;
  margin: 0 auto;
}

.score-update {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.timestamp {
  font-style: italic;
  color: #0fa4af;
}

.username {
  font-weight: bold;
  background-color: #f8f9fa;
}

.score {
  font-weight: bold;
  color: #964734;
}